* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.container {
  background-color: pink;
  height: 100vh;
  width: 100vw;
}

.container__grid {
  margin-top: 5rem;
  width: 35vw;
  height: 35vw;

  position: relative;
  left: 50%;
  transform: translateX(-50%);

  display: grid;
  grid-auto-flow: row;
  overflow-wrap: normal;
}

.button {
  position: relative;
  left: 50%;
  transform: translateX(-50%);

  width: 20rem;
  height: 5rem;
  font-size: 3rem;
  margin-top: 3rem;
  margin-bottom: -2.5rem;
  background-color: #424bdf;
  color: #ffc0cb;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.button:hover {
  transform: translateX(-50%) translateY(-0.8rem);
  width: 20.5rem;
  height: 5.5rem;
  color: white;
  background-color: purple;
  transition: all 0.3s;
}
.cell {
  width: 1fr;
  height: 1fr;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
